In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('Spanish_idioms_1.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Idiom                60 non-null     object
 1   literal_translation  60 non-null     object
 2   Meaning              60 non-null     object
dtypes: object(3)
memory usage: 2.0+ KB

In [4]:
df1.head()

,Idiom,literal_translation,Meaning
0,NaN,NaN,NaN
1,"A buen hambre, no hay pan duro.",To good hunger there is no hard bread.,Beggars can’t be choosers.
2,estar como unasopa,to be like a soup,to be soaked to the bone
3,estar como un fideo,to be like a noodle,to be thin as a rail
4,estar como un queso,to be like a cheese,to be hot (sexually attractive)

In [5]:
idiom_counts = df1['Idiom'].value_counts()
idiom_counts

Idiom
A buen hambre, no hay pan duro.                      1
estar como unasopa                                   1
meterse en camisa de once varas                      1
Un clavo saca a otro clavo.                          1
Zapatero, a tus zapatos.                             1
despedirse a la francesa                             1
De tal palo, tal astilla.                            1
Dios los cría y ellos se juntan.                     1
dormirse en los laureles                             1
echar agua al mar                                    1
echarle leña al fuego                                1
faltarle un tornillo                                 1
irse por las ramas                                   1
subirse al carro                                     1
ver todo color de rosa                               1
estar como unas castañuelas                          1
estar de mala leche                                  1
estar frito                                          1
estar hecho polvo                                    1
estar hecho un ají                                   1
estar loco de contento                               1
estar de mala uva                                    1
quedarse de piedra                                   1
Cada loco con su tema.                               1
dar en el clavo                                      1
llover a cántaros                                    1
meter la pata                                        1
matar dos pájaros de un tiro                         1
perder los estribos                                  1
Más vale pájaro en mano que ciento volando.          1
Las palabras se las lleva el viento.                 1
Cuando se cierra una puerta, se abre una ventana.    1
costar un ojo de la cara                             1
estar como un fideo                                  1
estar como un queso                                  1
no importar un pepino                                1
ponerse como un tomate                               1
ser del año de la pera                               1
ser pan comido                                       1
acostarse con las gallinas                           1
A perro flaco, todo son pulgas.                      1
dar gato por liebre                                  1
estar en la edad del pavo                            1
La curiosidad mató al gato.                          1
¿Se te ha comido la lengua elgato?                   1
estar hasta las narices                              1
En casa del herrero, cuchillo de palo.               1
hablar hasta por los codos                           1
no pegar ojo                                         1
no tener ni pies ni cabeza                           1
no tener pelos en la lengua                          1
quemarse las pestañas                                1
ser uña y carne                                      1
tomar el pelo                                        1
no ahogarse en un vaso de agua                       1
Al mal tiempo, buena cara.                           1
buscarle tres pies al gato                           1
Camarón que se duerme se lo lleva la corriente.      1
consultar con la almohada                            1
tirar la casa por la ventana                         1
Name: count, dtype: int64

In [6]:
Meaning_counts = df1['Meaning'].value_counts()
Meaning_counts

Meaning
to be in a bad mood                                                         2
Beggars can’t be choosers.                                                  1
to see through rose-colored glasses                                         1
to be out of your depth                                                     1
A new person will make you forget the old one.                              1
Focus on doing what you’re good at.                                         1
to leave without saying goodbye                                             1
The apple doesn’t fall far from the tree.                                   1
Birds of a feather flock together.                                          1
to rest on your laurels                                                     1
to do something pointless                                                   1
to make matters worse                                                       1
to have a screw loose                                                       1
to beat around the bush                                                     1
to jump on the bandwagon                                                    1
to be happy as a clam                                                       1
Actions speak louder than words.                                            1
to be done for                                                              1
to be exhausted                                                             1
to be very angry                                                            1
to be over the moon                                                         1
to be shocked                                                               1
To each their own.                                                          1
to hit the nail on the head                                                 1
to rain cats and dogs                                                       1
to mess up                                                                  1
to kill two birds with one stone                                            1
to fly off the handle                                                       1
Focus on what you have instead of what you don’t have.                      1
Where one door closes, another one opens.                                   1
to be soaked to the bone                                                    1
to cost an arm and a leg                                                    1
to be thin as a rail                                                        1
to be hot (sexually attractive)                                             1
to not care at all                                                          1
to blush                                                                    1
to be out of fashion                                                        1
to be a piece of cake                                                       1
to go to sleep early                                                        1
When it rains it pours.                                                     1
to take for a ride                                                          1
to be at that difficult/awkward age                                         1
Don’t try to find out about something that doesn’t concern you.             1
Cat got your tongue?                                                        1
to be fed up                                                                1
When you’re an expert in something, you don’t apply it to your own life.    1
to talk up a storm                                                          1
to not sleep a wink                                                         1
to make no sense                                                            1
to be outspoken                                                             1
to burn the midnight oil                                                    1
to be joined at the hip                                                     1
to pull someone’s leg                                                       1
to not sweat the small stuff                                                1
When life gives you lemons, make lemonade.                                  1
to make something more complicated than necessary                           1
Pay attention or the opportunities will pass you by.                        1
to sleep on it                                                              1
to spare no expense                                                         1
Name: count, dtype: int64

In [7]:
literal_counts = df1['literal_translation'].value_counts()
literal_counts

literal_translation
To good hunger there is no hard bread.                                  1
to be like a soup                                                       1
to get into a 30-foot-long shirt                                        1
One nail pulls out another nail.                                        1
Shoemaker to your shoes.                                                1
to say goodbye the French style                                         1
As such the stick, such the splinter.                                   1
God raises them and they come together.                                 1
to fall asleep in the laurels                                           1
to throw water to the sea                                               1
to add wood to the fire                                                 1
to be missing a screw                                                   1
to go along the branches                                                1
to get in the car                                                       1
to see everything in pink color                                         1
to be like a pair of castanets                                          1
to be of bad milk                                                       1
to be fried                                                             1
to have been turned into dust                                           1
to have become a chile                                                  1
to be crazy with happiness                                              1
to be bad grapes                                                        1
to stay like a stone                                                    1
Each crazy with his theme.                                              1
to hit on the nail                                                      1
to rain in pitchers                                                     1
to put the paw                                                          1
to kill two birds with one shot                                         1
to lose the stirrup                                                     1
One bird in the hand is more valuable than one hundred flying birds.    1
Words are taken by the wind.                                            1
When a door closes, a window opens.                                     1
to cost an eye from the face                                            1
to be like a noodle                                                     1
to be like a cheese                                                     1
to not give a cucumber                                                  1
to turn into a tomato                                                   1
to be from the year of the pear                                         1
to be eaten bread                                                       1
to sleep with the chickens                                              1
To a skinny dog, everything is fleas.                                   1
to give a cat instead of a hare                                         1
to be in the turkey’s age                                               1
Curiosity killed the cat.                                               1
Has the cat eaten your tongue?                                          1
to be up to the noses                                                   1
In the house of the blacksmith, knife of wood.                          1
to talk even through your elbows                                        1
to not paste an eye                                                     1
to not have either feet or head                                         1
to not have hairs on the tongue                                         1
to singe one’s eyelashes                                                1
to be nail and flesh                                                    1
to grab by the hair                                                     1
to not drown yourself in a glass of water                               1
To bad weather, good face.                                              1
to look for three feet on the cat                                       1
A shrimp that falls asleep is taken away by the current.                1
to consult the pillow                                                   1
to throw the house out the window                                       1
Name: count, dtype: int64

In [8]:
for column in df1.columns:
    if df1[column].dtype == 'object':  # Check if column is of type object (text)
        df1[column] = df1[column].str.strip()
df1

,Idiom,literal_translation,Meaning
0,NaN,NaN,NaN
1,"A buen hambre, no hay pan duro.",To good hunger there is no hard bread.,Beggars can’t be choosers.
2,estar como unasopa,to be like a soup,to be soaked to the bone
3,estar como un fideo,to be like a noodle,to be thin as a rail
4,estar como un queso,to be like a cheese,to be hot (sexually attractive)
...,...,...,...
76,matar dos pájaros de un tiro,to kill two birds with one shot,to kill two birds with one stone
77,perder los estribos,to lose the stirrup,to fly off the handle
78,tirar la casa por la ventana,to throw the house out the window,to spare no expense
79,NaN,NaN,NaN
80,NaN,NaN,NaN

In [9]:
df1.isna().sum()

Idiom                  21
literal_translation    21
Meaning                21
dtype: int64

In [10]:
df1.isnull().sum()

Idiom                  21
literal_translation    21
Meaning                21
dtype: int64

In [11]:
#remove null values if it has null in idiom column or meaning column 
df1.dropna(subset=['Idiom', 'Meaning'], inplace=True)

In [12]:
idioms_with_meaning_example = df1[df1['Idiom'].str.contains('Meaning')]
idioms_with_meaning_example

Empty DataFrame
Columns: [Idiom, literal_translation, Meaning]
Index: []

In [13]:
df1.isna().sum()

Idiom                  0
literal_translation    0
Meaning                0
dtype: int64

In [14]:
df1.isnull().sum()

Idiom                  0
literal_translation    0
Meaning                0
dtype: int64

In [33]:
df1.to_csv('Spanish_idioms_1.csv', index=False)

In [15]:
df2 = pd.read_csv('Spanish_idioms_2.csv')

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 936 entries, 0 to 935
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Idiom      936 non-null    object
 1   Meaning 1  934 non-null    object
 2   Meaning 2  181 non-null    object
 3   Meaning 3  51 non-null     object
 4   Meaning 4  8 non-null      object
 5   Meaning 5  8 non-null      object
 6   Meaning 6  1 non-null      object
 7   Meaning 7  1 non-null      object
 8   Meaning 8  1 non-null      object
dtypes: object(9)
memory usage: 65.9+ KB

In [17]:
df2.head()

,Idiom,Meaning 1,Meaning 2,Meaning 3,Meaning 4,Meaning 5,Meaning 6,Meaning 7,Meaning 8
0,Take his word for it,Hay que darle el beneficio de la duda,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Take the good with the bad,El que se come la carne que se coma también el...,Vayan las verdes por las maduras,NaN,NaN,NaN,NaN,NaN,NaN
2,Take the horse by the reigns,Coger el sartén por el mango,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Take with a grain of salt,Las cosas se toman según de quien vengan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Test the waters,Hay que estirar los pies hasta donde llegue la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df2.rename(columns = {'Strong Text':'Idiom','Meaning 1':'Meaning'}, inplace = True) 
df2

,Idiom,Meaning,Meaning 2,Meaning 3,Meaning 4,Meaning 5,Meaning 6,Meaning 7,Meaning 8
0,Take his word for it,Hay que darle el beneficio de la duda,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Take the good with the bad,El que se come la carne que se coma también el...,Vayan las verdes por las maduras,NaN,NaN,NaN,NaN,NaN,NaN
2,Take the horse by the reigns,Coger el sartén por el mango,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Take with a grain of salt,Las cosas se toman según de quien vengan,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Test the waters,Hay que estirar los pies hasta donde llegue la...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
931,"You’ve made your bed, now lie in it",Ahorcarse con su propia soga,NaN,NaN,NaN,NaN,NaN,NaN,NaN
932,"You’ve made your bed, now lie in it",Ahorcarse con su propia soga,NaN,NaN,NaN,NaN,NaN,NaN,NaN
933,"You’ve made your bed, now lie in it",Ahorcarse con su propia soga,NaN,NaN,NaN,NaN,NaN,NaN,NaN
934,"You’ve made your bed, now lie in it",Ahorcarse con su propia soga,NaN,NaN,NaN,NaN,NaN,NaN,NaN
935,"You’ve made your bed, now lie in it",Ahorcarse con su propia soga,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#check which value have empty meaning 
df2[df2['Meaning'].isnull()]

,Idiom,Meaning,Meaning 2,Meaning 3,Meaning 4,Meaning 5,Meaning 6,Meaning 7,Meaning 8
117,"A prophet is not without honor, save in his ow...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,"A prophet is not without honor, save in his ow...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
#manually fill the meaning
df2.loc[117, 'Meaning'] = 'Nadie es profeta en su tierra [pueblo]'

In [23]:
#remove null values if it has null in idiom column or meaning column
df2.dropna(subset=['Idiom', 'Meaning'], inplace=True)

In [24]:
#Remove value with same idiom and meaning
df2.drop_duplicates(subset=['Idiom', 'Meaning'], inplace=True)

In [25]:
#Value with not na in meaning 2 create new rows for each meaning 2 - 8 with same idiom
expanded_data = []
for index, row in df2.iterrows():
    base_idiom = row['Idiom']
    expanded_data.append({ 'Idiom': base_idiom, 'Meaning': row.get('Meaning', None) })

    # Check and add additional meanings as separate rows
    for i in range(2, 9):  # Assuming there are up to 8 meanings
        meaning_key = f'Meaning {i}'
        if meaning_key in row and pd.notna(row[meaning_key]):
            expanded_data.append({ 'Idiom': base_idiom, 'Meaning': row[meaning_key] })

# Convert the expanded data back into a DataFrame
df2 = pd.DataFrame(expanded_data)
df2.drop_duplicates(subset=['Idiom', 'Meaning'], inplace=True)

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Idiom    396 non-null    object
 1   Meaning  396 non-null    object
dtypes: object(2)
memory usage: 6.3+ KB

In [29]:
for column in df2.columns:
    if df2[column].dtype == 'object':  # Check if column is of type object (text)
        df2[column] = df2[column].str.strip()

In [30]:
Phrase_counts = df2['Idiom'].value_counts()
Phrase_counts

Idiom
To each his own                          8
Different strokes for different folks    5
Actions speak louder than words          3
When it rains, it pours                  3
What comes around goes around            3
                                        ..
As stubborn as a mule                    1
As happy as a clam                       1
Appearances can be deceiving             1
An idle mind is the devil’s workshop     1
You’ve made your bed, now lie in it      1
Name: count, Length: 326, dtype: int64

In [31]:
Meaning_counts = df2['Meaning'].value_counts()
Meaning_counts

Meaning
A cada puerco le llega su sábado                          5
A cada lechón le llega su San Martín                      4
Al mejor cazador se le va la liebre                       3
Creerse la última Coca Cola del desierto                  3
Sobre los gustos no hay nada escrito                      3
                                                         ..
El que nace para bombero, del cielo le cae el sombrero    1
No todo lo que brilla es oro                              1
Esta como el arroz blanco, en todas las partes            1
Lo bueno dura poco                                        1
Ahorcarse con su propia soga                              1
Name: count, Length: 335, dtype: int64

In [38]:
meaning_counts = df2['Meaning'].value_counts()

# Find the idioms that occur more than once
meaning_more_than_once = meaning_counts[meaning_counts> 1].index

# Filter df2 to show only the rows where the 'Idiom' occurs more than once
filtered_df2 = df2[df2['Meaning'].isin(meaning_more_than_once)]

filtered_df2

,Idiom,Meaning
5,Test the waters,Hay que estirar los pies hasta donde llegue la...
8,That’s all she wrote,"Para al carajo albañil, que se acabó la mezcla"
9,The apple doesn’t fall far from the tree,"De tal padre, tal hijo"
10,The bee’s knees,Creerse la última Coca Cola del desierto
11,The best of both worlds,"Es como el perro del hortelano, que ni come ni..."
...,...,...
373,Step up to the plate,¿Quién le pone el cascabel al gato?
375,Stretch your limits,Hay que estirar los pies hasta donde llegue la...
378,You cannot get a quart into a pint pot,Eso es como pedirle peras al olmo
379,You cannot get blood from a stone [turnip],Eso es como pedirle peras al olmo
389,You pays your man and you takes your chances,Para nadar hay que tirarse al agua

In [39]:
df2.isnull().sum()

Idiom      0
Meaning    0
dtype: int64

In [40]:
df2.isna().sum()

Idiom      0
Meaning    0
dtype: int64

In [41]:
df2.to_csv('Spanish_idioms_2.csv', index=False)

In [42]:
df3 = pd.read_csv('Spanish_idioms_3.csv')

In [43]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Phrase   672 non-null    object
 1   Meaning  672 non-null    object
 2   Example  13 non-null     object
dtypes: object(3)
memory usage: 15.9+ KB

In [44]:
df3.head()

,Phrase,Meaning,Example
0,a (la) merced de,at the mercy of (n.b.: the “la” is often omitted),NaN
1,a altas horas de la madrugada,\t\t in the small hours of the morning,NaN
2,a cargo de,\t\t in charge of; responsible for; by,NaN
3,a causa de,\t\t because of; as a result of (lit.: at the...,NaN
4,a chorros,\t\t in abundance; plenty; lots,NaN

In [45]:
df3.rename(columns = {'Phrase':'Idiom'}, inplace = True) 
df3

,Idiom,Meaning,Example
0,a (la) merced de,at the mercy of (n.b.: the “la” is often omitted),NaN
1,a altas horas de la madrugada,\t\t in the small hours of the morning,NaN
2,a cargo de,\t\t in charge of; responsible for; by,NaN
3,a causa de,\t\t because of; as a result of (lit.: at the...,NaN
4,a chorros,\t\t in abundance; plenty; lots,NaN
...,...,...,...
667,ya es hora,it's about time,NaN
668,ya que,\t\t since; because,NaN
669,yo que se,\t\t how would I know? (lit.: I know what?),NaN
670,yo que se,\t\t how would I know? (lit.: I know what?),NaN
671,zurrar la badana a alg.,\t\t beat someone up; give someone a good tan...,NaN

In [47]:
for column in df3.columns:
    if df3[column].dtype == 'object':  # Check if column is of type object (text)
        df3[column] = df3[column].str.strip()

In [48]:
Phrase_counts = df3['Idiom'].value_counts()
Phrase_counts

Idiom
estar con el agua al  cuello    2
estar en juego                  2
nunca se sabe                   2
cuatro gatos                    2
a propósito                     2
                               ..
echar el pelo                   1
echar el toro a algn            1
echar mano a                    1
echar mano de                   1
zurrar la badana a  alg.        1
Name: count, Length: 644, dtype: int64

In [50]:
Phrase_counts = df3['Idiom'].value_counts()

# Find the idioms that occur more than once
idioms_more_than_once = Phrase_counts[Phrase_counts > 1].index

# Filter df3 to show only the rows where the 'Idiom' occurs more than once
filtered_df3 = df3[df3['Idiom'].isin(idioms_more_than_once)]

filtered_df3

,Idiom,Meaning,Example
44,a propósito,on purpose; deliberately,NaN
45,a propósito,by the way; speaking of which,NaN
91,Ave María Purísima,for heaven’s sake (lit.: hail most pure Mary; ...,NaN
92,Ave María Purísima,for heaven’s sake (lit.: hail most pure Mary; ...,NaN
96,buscar bronca,be spoiling for a fight; be looking for a fight,NaN
97,buscar bronca,be spoiling for a fight; be looking for a fight,NaN
145,cuatro gatos,a handful of people; half a dozen people; a sm...,NaN
146,cuatro gatos,a handful of people; half a dozen people; a sm...,NaN
217,dormir juntos,sleep together (n.b.: in the sexual sense),NaN
218,dormir juntos,sleep together (n.b.: in the sexual sense),NaN
242,en bolas,naked; nude; in the buff (Spain usage; lit: in...,NaN
243,en bolas,in a group; together (Mexican usage; lit.: in ...,NaN
245,en carne viva,in the flesh (lit.: in living meat),NaN
246,en carne viva,raw; full; complete,NaN
292,estar con el agua al cuello,be up to one’s neck in problems; be over a bar...,NaN
293,estar con el agua al cuello,be up to one's neck in something (lit.: have w...,NaN
311,estar en juego,be in play; be up for grabs (lit.: to be in play),NaN
312,estar en juego,be at stake (lit.: to be in play),NaN
336,esto es el colmo,that’s the last straw,NaN
337,esto es el colmo,that’s the last straw,NaN
344,"fulano, zutano y mengano","Tom, Dick, and Harry; everybody",NaN
345,"fulano, zutano y mengano","Tom, Dick, and Harry; everybody",NaN
347,gastar una broma a algn,play a joke on; have fun at someone's expense,NaN
348,gastar una broma a algn,play a joke on; have fun at someone's expense,NaN
387,hoy mismo,today.,NaN
388,hoy mismo,today.,NaN
397,irse al otro barrio,kick the bucket (lit.: to go to another neighb...,NaN
398,irse al otro barrio,kick the bucket (lit.: to go to another neighb...,NaN
399,justo a tiempo,just in time,NaN
400,justo a tiempo,just in time,NaN
415,lotería,bingo; got it (n.b.: said when finding somethi...,NaN
416,lotería,bingo; got it (n.b.: said when finding somethi...,NaN
442,mostrar tino,show good sense; be right (lit.: to show sound...,NaN
443,mostrar tino,show good sense; be right (lit.: to show sound...,NaN
470,nunca se sabe,you never know; you never can tell,NaN
471,nunca se sabe,you never know; you never can tell,NaN
472,otra vez,again; once more,NaN
473,otra vez,again; once more,NaN
545,proquería,"junk, trash; junk food",NaN
546,proquería,"junk, trash; junk food",NaN
554,quitar el sombrero hasta alg.,doff one’s hat to; take one’s hat of (in recog...,NaN
555,quitar el sombrero hasta alg.,doff one’s hat to; take one’s hat of (in recog...,NaN
560,rumbo a,in the direction of; toward,NaN
561,rumbo a,in the direction of; toward,NaN
571,sacarse la mugre,have a nasty accident,NaN
572,sacarse la mugre,work like a dog (n.b.: used in Cono del Sur),NaN
609,sueño de oro,one's heart's desire; one's dream (lit: dream ...,NaN
610,sueño de oro,one's heart's desire; one's dream (lit: dream ...,NaN
653,tratarse,have to do with; be (lit.: to treat. Used with...,NaN
654,tratarse,have to do with; be (lit.: to treat. Used with...,NaN
657,una y otra vez,again and again (lit.: one and another time),NaN
658,una y otra vez,again and again (lit.: one and another time),NaN
665,volverse loco,go insane; go mad,NaN
666,volverse loco,go insane; go mad,NaN
669,yo que se,how would I know? (lit.: I know what?),NaN
670,yo que se,how would I know? (lit.: I know what?),NaN

In [51]:
# Drop rows with the same meanings and phrases
df3 = df3.drop_duplicates(subset=['Meaning', 'Idiom'])
Phrase_counts = df3['Idiom'].value_counts()

# Find the idioms that occur more than once
idioms_more_than_once = Phrase_counts[Phrase_counts > 1].index

# Filter df3 to show only the rows where the 'Idiom' occurs more than once
filtered_df3 = df3[df3['Idiom'].isin(idioms_more_than_once)]

filtered_df3

,Idiom,Meaning,Example
44,a propósito,on purpose; deliberately,NaN
45,a propósito,by the way; speaking of which,NaN
242,en bolas,naked; nude; in the buff (Spain usage; lit: in...,NaN
243,en bolas,in a group; together (Mexican usage; lit.: in ...,NaN
245,en carne viva,in the flesh (lit.: in living meat),NaN
246,en carne viva,raw; full; complete,NaN
292,estar con el agua al cuello,be up to one’s neck in problems; be over a bar...,NaN
293,estar con el agua al cuello,be up to one's neck in something (lit.: have w...,NaN
311,estar en juego,be in play; be up for grabs (lit.: to be in play),NaN
312,estar en juego,be at stake (lit.: to be in play),NaN
571,sacarse la mugre,have a nasty accident,NaN
572,sacarse la mugre,work like a dog (n.b.: used in Cono del Sur),NaN

In [52]:
Meaning_counts = df3['Meaning'].value_counts()
Meaning_counts

Meaning
on the other hand                                                                                                   3
be fed up; have had it (used in Spain)                                                                              3
take the easy way out (lit.: throw for the shortcut)                                                                2
be full of oneself; blow one’s own horn (lit.: not to have a  grandmother)                                          2
go out on the town; party; go clubbing                                                                              2
                                                                                                                   ..
sleep off a hangover                                                                                                1
sleep together (n.b.: in the sexual sense)                                                                          1
water down                                                                                                          1
swear; curse; rant and rave (lit.: throw garlic and onions)                                                         1
beat someone up; give someone a good tanning; tan someone’s hide (lit.:  thrash the tanned sheepskin of someone)    1
Name: count, Length: 630, dtype: int64

In [53]:
meaning_counts = df3['Meaning'].value_counts()

# Find the idioms that occur more than once
meaning_more_than_once = meaning_counts[meaning_counts> 1].index

# Filter df3 to show only the rows where the 'Idiom' occurs more than once
filtered_df3 = df3[df3['Meaning'].isin(meaning_more_than_once)]

filtered_df3

,Idiom,Meaning,Example
34,a mi modo de pensar,in my view; the way I see it,NaN
35,a mi modo de ver,in my view; the way I see it,NaN
93,bar de ligar,singles' bar; pickup joint (used in Spain),NaN
142,corto de luces,dim; dull; stupid,NaN
180,de diario,everyday,NaN
196,de pocas luces,dim; dull; stupid,NaN
226,echar por el atajo,take the easy way out (lit.: throw for the sho...,NaN
244,en cambio,on the other hand,NaN
251,en definitiva,in short; in brief,NaN
254,en fin,in short; in brief,NaN
271,entrar bien,go down well,NaN
272,entrar de maravilla,go down well,NaN
298,estar de juerga,go out on the town; party; go clubbing,NaN
314,estar en la luna,be on cloud nine; be out to lunch (lit.: to be...,NaN
315,estar en la miseria,be broke; be poor (used in Spain),NaN
318,estar hasta el gorro,be fed up; have had it (used in Spain),NaN
319,estar hasta el moño,be fed up; have had it (used in Spain),NaN
321,estar hasta las narices,be fed up; have had it (used in Spain),NaN
333,estar sin pasta,be broke; be poor,NaN
334,estar sin plata,be broke; be poor,NaN
335,estar sin un duro,be broke; be poor (used in Spain),NaN
389,ir a golpe de alpargata,walk; hoof it; go on foot (lit.: go by slappin...,NaN
393,ir de juerga,go out on the town; party; go clubbing,NaN
394,ir de marcha,go out partying,NaN
459,no necesitar abuela,be full of oneself; blow one’s own horn (lit.:...,NaN
465,no tener abuela,be full of oneself; blow one’s own horn (lit.:...,NaN
477,para diario,everyday,NaN
513,por el otro lado,on the other hand,NaN
530,por otra parte,on the other hand,NaN
532,por si acaso,just in case,NaN
534,por si las moscas,just in case,NaN
562,sabelotodo,know it all,NaN
565,sabi(h)ondo/a,know it all,NaN
575,salir de marcha,go out partying,NaN
603,sito de ligar,singles' bar; pickup joint (used in Spain),NaN
641,tirar por el atajo,take the easy way out (lit.: throw for the sho...,NaN
660,venir a golpe de alpargata,walk; hoof it; go on foot (lit.: go by slappin...,NaN
664,vivir en la luna,be on cloud nine; be out to lunch (lit.: to be...,NaN

In [54]:
sentence_counts = df3['Example'].value_counts()
sentence_counts

Example
1. Mi  restaurante favorito está justo a la vuelta de mi oficina.                                                          1
1. ¿Te  has dado cuenta de que en el supermercado tenemos hasta nueve tipos diferentes  de papel higiénico para elegir?    1
1. De hecho, qiuero ir  contigo.                                                                                           1
1. La  economía real, la que cada uno de nosotros maneja día a día es otra cosa.                                           1
1. Puedes  pasar una temporada en un país extranjero sin echar de menos tu comida, tu ropa  o tú café favorito.            1
1.  No, en absoluto.                                                                                                       1
1. En cuanto  a la comida, todo lo que preparan es riquísimo.                                                              1
1.  Estoy harto de esto.                                                                                                   1
1. Tendremos una reuníon esta tarde para discutir el                                                                       1
1. Vea, por lo pronto existe una tercera opcíon.                                                                           1
1. Ahora tenemos un poco de prisa.                                                                                         1
1. Todo el mundo  quiere estar sano.                                                                                       1
1. No  vale la pena de ir.                                                                                                 1
Name: count, dtype: int64

In [55]:
idioms_with_meaning_example = df3[df3['Idiom'].str.contains('Meaning|Example')]
idioms_with_meaning_example

Empty DataFrame
Columns: [Idiom, Meaning, Example]
Index: []

In [56]:
df3.isna().sum()

Idiom        0
Meaning      0
Example    637
dtype: int64

In [57]:
df3 = df3.fillna(' ')
df3.isna().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [58]:
df3.to_csv('Spanish_idioms_3.csv', index=False)

In [60]:
#Combine all the dataframes
dataframes = [df1, df2, df3]

# Ensure each dataframe has a 'part_of_speech' column, fill with empty strings if it doesn't exist
for df in dataframes:
    if 'literal_translation' not in df.columns:
        df['literal_translation'] = ' '
    if 'Example' not in df.columns:
        df['Example'] = ' '

# Now concatenate the dataframes
result_df = pd.concat(dataframes, axis=0, join='outer', ignore_index=True)

# If you only want 'Idiom', 'Example', 'Meaning', and 'part_of_speech' columns in the result
result_df = result_df[['Idiom', 'Meaning','literal_translation','Example']]

result_df
result_df.to_csv('Spanish_idioms.csv', index=False)